In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import geopandas as gpd
import plotly.express as px

In [2]:
#reading files
states_df =  gpd.read_file("../Datasets/states.json")
analysis_df = pd.read_excel("../Datasets/Data4Analysis.xlsx")

In [3]:
states_df.head()

,statecode,statename,capcity,source,timestamp,globalid,geozone,id,region,mean,q025,q05,q25,q50,q75,q95,q975,geometry
0,PL,Plateau,Jos,EHA-MICHAEL,2016-04-20T22:36:12,17379e56-2427-44bc-9778-9836eac9fcc4,NCZ,180,2,3.639275e+06,2238255.475,2410571.95,2962400.75,3444654.0,4085813.75,5513280.00,6.174099e+06,"POLYGON ((10.54096 9.48354, 10.54166 9.48229, ..."
1,AK,Akwa Ibom,Uyo,EHA-SAMUEL,2016-01-07T16:07:48,83fe39c7-8a62-4bb9-8cf7-8f2b58b5c276,SSZ,181,1,3.485613e+06,3033511.900,3104335.00,3310984.50,3467975.0,3642350.25,3925477.45,4.024870e+06,"POLYGON ((7.88037 5.36680, 7.88133 5.36260, 7...."
2,TA,Taraba,Jalingo,Oluseye.Abraham,2017-03-30T17:37:10,f34158b3-9a70-40f3-9d64-e97853a3b1fb,NEZ,192,2,4.228507e+06,1984272.300,2229877.15,3151859.25,3863693.0,4874087.00,7290583.90,8.512098e+06,"POLYGON ((11.42960 9.54963, 11.43616 9.53983, ..."
3,KD,Kaduna,Kaduna,EHA-OLUSEYE,2016-06-07T11:55:19,aa13d807-45e2-4ba8-96ce-371126023935,NWZ,194,9,8.620189e+06,7410068.875,7586107.75,8124711.50,8567864.5,9038946.00,9877224.75,1.019756e+07,"POLYGON ((8.26003 11.30419, 8.25851 11.30223, ..."
4,OG,Ogun,Abeokuta,EHA-OLUSEYE,2016-05-11T16:04:25,7f0787e4-4518-4486-8bc5-51c5232df9d1,SWZ,218,11,9.506520e+06,6495977.100,6885790.25,8173521.50,9177296.5,10474327.00,13068066.30,1.427182e+07,"POLYGON ((4.08836 7.13345, 4.09692 7.13759, 4...."

In [4]:
states_df.columns

Index(['statecode', 'statename', 'capcity', 'source', 'timestamp', 'globalid',
       'geozone', 'id', 'region', 'mean', 'q025', 'q05', 'q25', 'q50', 'q75',
       'q95', 'q975', 'geometry'],
      dtype='object')

In [5]:
states_df.drop(['statecode','capcity', 'source', 'timestamp', 'globalid',
       'geozone', 'id', 'region', 'q025', 'q05', 'q25', 'q50', 'q75',
       'q95', 'q975'], axis=1, inplace=True)

In [6]:
states_df.head()

   statename          mean                                           geometry
0    Plateau  3.639275e+06  POLYGON ((10.54096 9.48354, 10.54166 9.48229, ...
1  Akwa Ibom  3.485613e+06  POLYGON ((7.88037 5.36680, 7.88133 5.36260, 7....
2     Taraba  4.228507e+06  POLYGON ((11.42960 9.54963, 11.43616 9.53983, ...
3     Kaduna  8.620189e+06  POLYGON ((8.26003 11.30419, 8.25851 11.30223, ...
4       Ogun  9.506520e+06  POLYGON ((4.08836 7.13345, 4.09692 7.13759, 4....

In [7]:
states_df.sort_values(by='statename',ascending=True, inplace=True)

In [8]:
states_df.head()

    statename          mean                                           geometry
14       Abia  4.083570e+06  POLYGON ((7.53017 6.00599, 7.52082 6.00029, 7....
6     Adamawa  3.606704e+06  POLYGON ((13.75067 10.91414, 13.75026 10.91372...
1   Akwa Ibom  3.485613e+06  POLYGON ((7.88037 5.36680, 7.88133 5.36260, 7....
18    Anambra  4.228761e+06  POLYGON ((7.33906 6.04215, 7.33827 6.03620, 7....
30     Bauchi  6.179030e+06  POLYGON ((10.98172 11.17882, 11.00853 11.14909...

In [9]:
analysis_df.head()states_df.merge()

,statename,hospitalization,doubling_time,Ventilator_capacity,ICU_beds_capacity
0,Abia,0,0,0,9
1,Adamawa,0,0,19,9
2,Akwa Ibom,6,4,0,9
3,Anambra,1,0,0,9
4,Bauchi,6,6,4,9

In [10]:
states_df = states_df.merge(analysis_df, how='left', on='statename')
states_df.head()

,statename,mean,geometry,hospitalization,doubling_time,Ventilator_capacity,ICU_beds_capacity
0,Abia,4.083570e+06,"POLYGON ((7.53017 6.00599, 7.52082 6.00029, 7....",0.0,0.0,0.0,9.0
1,Adamawa,3.606704e+06,"POLYGON ((13.75067 10.91414, 13.75026 10.91372...",0.0,0.0,19.0,9.0
2,Akwa Ibom,3.485613e+06,"POLYGON ((7.88037 5.36680, 7.88133 5.36260, 7....",6.0,4.0,0.0,9.0
3,Anambra,4.228761e+06,"POLYGON ((7.33906 6.04215, 7.33827 6.03620, 7....",1.0,0.0,0.0,9.0
4,Bauchi,6.179030e+06,"POLYGON ((10.98172 11.17882, 11.00853 11.14909...",6.0,6.0,4.0,9.0

In [11]:
#Nigeria has a ratio of 5 hospital beds per 10000
states_df['hospital_beds_capacity'] = (0.0005 * states_df['mean'])

In [12]:
states_df.head()

,statename,mean,geometry,hospitalization,doubling_time,Ventilator_capacity,ICU_beds_capacity,hospital_beds_capacity
0,Abia,4.083570e+06,"POLYGON ((7.53017 6.00599, 7.52082 6.00029, 7....",0.0,0.0,0.0,9.0,2041.784963
1,Adamawa,3.606704e+06,"POLYGON ((13.75067 10.91414, 13.75026 10.91372...",0.0,0.0,19.0,9.0,1803.352154
2,Akwa Ibom,3.485613e+06,"POLYGON ((7.88037 5.36680, 7.88133 5.36260, 7....",6.0,4.0,0.0,9.0,1742.806345
3,Anambra,4.228761e+06,"POLYGON ((7.33906 6.04215, 7.33827 6.03620, 7....",1.0,0.0,0.0,9.0,2114.380506
4,Bauchi,6.179030e+06,"POLYGON ((10.98172 11.17882, 11.00853 11.14909...",6.0,6.0,4.0,9.0,3089.515006

In [13]:
#exporting clean dataframe for analysis on GIS
out_path = r"/home/qwerty/Documents/Chime_Modelling/Datasets/Analysis_shapefiles/analysis.shp"
states_df.to_file(out_path)